<div class="row">
{{#each category}}
<h1>{{this.name}}</h1>
<p>{{this.image}}</p>
{{/each}}
{{#each products}}
<div class="col col-lg-3 card">
    <br> {{#each images}} {{#if @first}} 
     <img src="{{this.src}}" alt="" class="img-fluid card-img-top"> {{/if}} {{/each}}
    <div class="card-body">
    <strong class="card-title">Name: </strong> {{this.name}} <br>
    <strong>Price: </strong> $ {{this.price}} <br>
   <a href="/product/{{this.id}}" class="btn btn-primary">
   View Details </a>
    </div>
</div>
{{/each}}

</div>