<h1 class="text-center">Home Template</h1>

<img src="/img/slides/home.jpg{{image}}" class="img-fluid" alt="">

<div class="container text-center row">
<div class="col col-lg-4 card text-bg-dark ">
  <img src="/img/slides/sunglassesbanner.jpg{{image}}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <a href="/category/sunglasses" class="card-link card-title">Sunglasses</a>
  </div>
</div>
<div class="col col-lg-4 card text-bg-dark ">
  <img src="/img/slides/hair.jpg{{image}}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <a href="/category/hairaccessories" class="card-link card-title">Hair Accessories</a>
  </div>
</div>
<div class="col col-lg-4 card text-bg-dark ">
  <img src="/img/slides/hat.jpg{{image}}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <a href="/category/hats" class="card-link card-title">Hats</a>
  </div>
</div>
</div>

<div class="owl-carousel owl-theme">
    <div class="item"> <img src="/img/sunglasses/sunglasses1.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Luna Classic Aviator Sunglasses</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses2.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Avalon Oval Sunnies</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Dylan Aviator Sunnies</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses4.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Heart Eyes Sunglasses</a></div>
    <div class="item"> <img src="/img/hat/hats3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Cowboy Baseball Hat</a></div>
    <div class="item"> <img src="/img/hat/hats4.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Soft Turn Felt Cowboy Hat</a></div>
    <div class="item"> <img src="/img/hat/hats5.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Full Moon Nubby Pom Beanie</a></div>
    <div class="item"> <img src="/img/hat/hats7.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Brixton Fiddler Marine Cap</a></div>
    <div class="item"> <img src="/img/hair/hair3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Rosemary's Rose Set Of 6 Clips</a></div>
    <div class="item"> <img src="/img/hair/hair5.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">That Simple Velvet Hard Headband</a></div>
    <div class="item"> <img src="/img/hair/hair7.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Chimmi Chantilly Hair Pin</a></div>
    <div class="item"> <img src="/img/hair/hair10.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Ariana Ost Dripping Stones Hair Tie</a></div>
</div>
