<div class="row">
{{#each products}}
 <div class="col col-lg-6">

    <br> {{#each images}} {{#if @first}}  <img src="{{this.src}}" alt="" class="img-fluid">{{/if}} {{/each}}
    <div class="product-slider owl-carousel">
    {{#each this.images}} 
    <img src="{{this.src}}" alt="" style="width: 180px">
    {{/each}}
    </div>
</div>


<div class="col col-lg-6">
    <strong>Name: </strong> {{this.name}}
    <br>
    <strong>Description: </strong> {{this.description}}
    <br>
   <strong>Price: </strong> 
   $ {{this.price}}
   <br>
<form action="/cart" method="post">
<input name="product" type="text" value="{{this.id}}" >
<button type="submit">Add to Cart</button>
</form>
</div>

{{/each}}

</div>