<div class="row">
{{#each products}}
 <div class="col col-lg-6">

    <br> {{#each images}} {{#if @first}}  <img src="{{this.src}}" alt="" class="img-fluid">{{/if}} {{/each}}
    <div class="product-slider owl-carousel">
    {{#each this.images}} 
    <img src="{{this.src}}" alt="" style="width: 180px">
    {{/each}}
    </div>
</div>


<div class="col col-lg-6">
    <strong>Name: </strong> {{this.name}}
    <br>
    <strong>Description: </strong> {{this.description}}
    <br>
   <strong>Price: </strong> 
   $ {{this.price}}
   <br>

   
<form action="/cart" method="post">
<input name="product" type="text" value="{{this.id}}" >
<button type="submit">Add to Cart</button>
</form>
</div>

{{/each}}

</div>

<div class="owl-carousel owl-theme">
    <div class="item"> <img src="/img/sunglasses/sunglasses1.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Luna Classic Aviator Sunglasses</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses2.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Avalon Oval Sunnies</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Dylan Aviator Sunnies</a></div>
    <div class="item"> <img src="/img/sunglasses/sunglasses4.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/sunglasses" class="card-link card-title">Heart Eyes Sunglasses</a></div>
    <div class="item"> <img src="/img/hat/hats3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Cowboy Baseball Hat</a></div>
    <div class="item"> <img src="/img/hat/hats4.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Soft Turn Felt Cowboy Hat</a></div>
    <div class="item"> <img src="/img/hat/hats5.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Full Moon Nubby Pom Beanie</a></div>
    <div class="item"> <img src="/img/hat/hats7.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hats" class="card-link card-title">Brixton Fiddler Marine Cap</a></div>
    <div class="item"> <img src="/img/hair/hair3.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Rosemary's Rose Set Of 6 Clips</a></div>
    <div class="item"> <img src="/img/hair/hair5.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">That Simple Velvet Hard Headband</a></div>
    <div class="item"> <img src="/img/hair/hair7.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Chimmi Chantilly Hair Pin</a></div>
    <div class="item"> <img src="/img/hair/hair10.1.jpeg{{image}}" class="card-img" alt="..."> <a href="/category/hair" class="card-link card-title">Ariana Ost Dripping Stones Hair Tie</a></div>
</div>